# Solution to Problem 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
matchdf = pd.read_csv('matches.csv')
delivdf = pd.read_csv('deliveries.csv')

In [3]:
matchdf.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [4]:
delivdf.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

### 1) Which team has won/lost maximum number of matches while chasing?

In [5]:
t11 = matchdf[matchdf['winner']==matchdf['team2']]['team2']
t11.groupby(t11).count().idxmax()

'Kolkata Knight Riders'

In [6]:
t12 = matchdf[matchdf['winner']!=matchdf['team2']]['team2']
t12.groupby(t12).count().idxmax()

'Delhi Daredevils'

### 2) Which toss decision is best for each ground?

The value will be 'bat', 'field' or 'equal' depending on the number of matches that have been won by the batting or fielding team at that venue

In [7]:
t2 = matchdf.loc[:, ['winner','team1','team2','venue']]
# Add 'bat' and 'field' columns to the dataframe
t2['bat'] = (t2['team1'] == t2['winner'])
t2['field'] = (t2['team2'] == t2['winner'])
t2 = t2[['venue','bat','field']]
tt1 = pd.DataFrame(t2.groupby('venue')['bat'].apply(lambda x: x[x == True].count()))
tt2 = pd.DataFrame(t2.groupby('venue')['field'].apply(lambda x: x[x == True].count()))
t2sol = pd.merge(tt1, tt2, on='venue')
t2sol['decision'] = t2sol.apply (lambda row: ('bat' if row['bat']>row['field'] else 'equal') if row['bat']>=row['field'] else 'field', axis=1)
t2sol['decision']

venue
ACA-VDCA Stadium                                        field
Barabati Stadium                                          bat
Brabourne Stadium                                         bat
Buffalo Park                                              bat
De Beers Diamond Oval                                   field
Dr DY Patil Sports Academy                              field
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium       bat
Dubai International Cricket Stadium                     field
Eden Gardens                                            field
Feroz Shah Kotla                                        field
Feroz Shah Kotla Ground                                 field
Green Park                                              field
Himachal Pradesh Cricket Association Stadium              bat
Holkar Cricket Stadium                                  field
IS Bindra Stadium                                       field
JSCA International Stadium Complex                      field
Kingsmead                                                 bat
M Chinnaswamy Stadium                                   field
M. A. Chidambaram Stadium                               equal
M. Chinnaswamy Stadium                                  equal
MA Chidambaram Stadium, Chepauk                           bat
Maharashtra Cricket Association Stadium                 field
Nehru Stadium                                             bat
New Wanderers Stadium                                   field
Newlands                                                  bat
OUTsurance Oval                                         equal
Punjab Cricket Association IS Bindra Stadium, Mohali    equal
Punjab Cricket Association Stadium, Mohali              field
Rajiv Gandhi International Stadium, Uppal               field
Rajiv Gandhi Intl. Cricket Stadium                        bat
Sardar Patel Stadium, Motera                            equal
Saurashtra Cricket Association Stadium                  field
Sawai Mansingh Stadium                                  field
Shaheed Veer Narayan Singh International Stadium        field
Sharjah Cricket Stadium                                 field
Sheikh Zayed Stadium                                      bat
St George's Park                                        field
Subrata Roy Sahara Stadium                                bat
SuperSport Park                                         field
Vidarbha Cricket Association Stadium, Jamtha              bat
Wankhede Stadium                                        field
Name: decision, dtype: object

### 3) Which player has won maximum number of MoM awards while chasing?

In [8]:
t3 = matchdf[matchdf['winner']==matchdf['team2']]['player_of_match']
# Since the player of the match is almost always from the winning team
t3.groupby(t3).count().idxmax()

'YK Pathan'

### 4) Which batsman has played maximum number of dot balls?

In [9]:
t4 = delivdf.loc[:,['batsman','total_runs']]
t4[t4['total_runs']==0].groupby('batsman').count().idxmax()[0]

'V Kohli'

### 5) Which batsmen came to crease but never got a chance to face a ball?

In [10]:
t5 = delivdf.loc[:,['match_id','non_striker','batsman']].drop_duplicates()
for id, group in t5.groupby('match_id'):
    st1 = set(group['non_striker'])
    st2 = set(group['batsman'])
    st = st1-st2
    if len(st):
        print(id, '->', list(st1-st2))

2 -> ['MJ McClenaghan']
3 -> ['DR Smith']
4 -> ['R Bhatia']
10 -> ['A Nehra']
11 -> ['Sandeep Sharma']
21 -> ['CH Morris']
28 -> ['MJ McClenaghan', 'MG Johnson']
29 -> ['MK Pandey']
31 -> ['PJ Cummins']
37 -> ['S Aravind']
43 -> ['JD Unadkat', 'A Nehra']
45 -> ['S Aravind']
51 -> ['S Nadeem']
54 -> ['Sandeep Sharma']
64 -> ['PP Ojha']
71 -> ['AB Dinda']
74 -> ['JDP Oram']
75 -> ['I Sharma']
79 -> ['Joginder Sharma']
80 -> ['DP Vijaykumar', 'SB Bangar']
82 -> ['A Nehra']
90 -> ['A Kumble']
91 -> ['S Sreesanth']
95 -> ['GD McGrath']
109 -> ['A Nel']
111 -> ['Z Khan']
115 -> ['MM Patel']
118 -> ['PR Shah']
119 -> ['DW Steyn']
120 -> ['PP Chawla', 'T Kohli']
125 -> ['DL Vettori', 'L Balaji']
129 -> ['R Vinay Kumar']
130 -> ['K Goel']
131 -> ['MS Gony']
135 -> ['Z Khan']
138 -> ['AB Agarkar']
139 -> ['RR Powar']
140 -> ['Y Venugopal Rao']
141 -> ['S Tyagi', 'A Nehra']
148 -> ['A Kumble']
150 -> ['SL Malinga']
155 -> ['RP Singh']
157 -> ['PP Chawla']
158 -> ['PJ Sangwan']
159 -> ['S Tyagi']
160 -> ['SK Warne']
163 -> ['AB Agarkar']
164 -> ['Jaskaran Singh']
170 -> ['DS Kulkarni', 'SL Malinga']
176 -> ['Z Khan', 'SA Asnodkar']
183 -> ['R Sathish']
187 -> ['AD Mathews']
188 -> ['SL Malinga']
193 -> ['AA Jhunjhunwala']
195 -> ['PP Ojha']
196 -> ['WP Saha']
198 -> ['SK Warne']
199 -> ['PP Ojha']
202 -> ['C Ganapathy']
204 -> ['Y Venugopal Rao']
206 -> ['S Anirudha']
210 -> ['Harmeet Singh', 'PP Ojha']
214 -> ['P Kumar']
216 -> ['SB Jakati']
227 -> ['Kamran Khan']
232 -> ['SB Jakati']
233 -> ['Harmeet Singh']
247 -> ['KA Pollard']
250 -> ['S Nadeem']
258 -> ['MK Tiwary']
266 -> ['AB Agarkar']
268 -> ['A Mithun']
271 -> ['M Kartik']
273 -> ['TL Suman']
275 -> ['MV Boucher']
276 -> ['JA Morkel']
283 -> ['RP Singh']
285 -> ['SK Trivedi']
286 -> ['I Sharma']
287 -> ['SL Malinga']
289 -> ['WP Saha']
291 -> ['A Mithun']
292 -> ['DS Kulkarni', 'SL Malinga']
302 -> ['SB Jakati']
305 -> ['RG Sharma']
307 -> ['S Badrinath']
310 -> ['R Sharma']
313 -> ['TP Sudhindra']
318 -> ['M Vijay']
320 -> ['Z Khan']
329 -> ['B Kumar']
331 -> ['PA Patel']
343 -> ['P Awana']
345 -> ['AB Agarkar']
347 -> ['LR Shukla']
353 -> ['M Kartik']
357 -> ['M Morkel']
366 -> ['PA Reddy']
370 -> ['MM Patel']
376 -> ['DW Steyn']
377 -> ['GB Hogg']
382 -> ['UT Yadav']
385 -> ['S Sreesanth']
386 -> ['DP Nannes']
388 -> ['A Mishra']
400 -> ['P Awana', 'L Balaji']
405 -> ['MS Gony']
406 -> ['JH Kallis']
412 -> ['PP Chawla']
416 -> ['I Sharma']
417 -> ['AT Rayudu']
424 -> ['G Gambhir']
431 -> ['M Rawat']
434 -> ['Harbhajan Singh', 'AT Rayudu']
435 -> ['I Sharma']
445 -> ['LJ Wright']
449 -> ['A Mishra']
451 -> ['S Kaul']
452 -> ['S Badrinath']
454 -> ['MM Patel']
461 -> ['DW Steyn']
463 -> ['NM Coulter-Nile']
465 -> ['BW Hilfenhaus']
466 -> ['AR Patel']
468 -> ['MA Starc']
471 -> ['YS Chahal', 'STR Binny']
473 -> ['Z Khan']
478 -> ['R Vinay Kumar']
480 -> ['WD Parnell']
484 -> ['AP Tare']
490 -> ['R Ashwin']
494 -> ['KK Cooper']
497 -> ['RN ten Doeschate']
511 -> ['Parvez Rasool', 'R Vinay Kumar']
513 -> ['KK Cooper']
514 -> ['M Morkel', 'SP Narine']
519 -> ['DJ Muthuswami']
520 -> ['TG Southee']
521 -> ['DJ Bravo']
522 -> ['PP Chawla']
524 -> ['R Vinay Kumar']
528 -> ['MK Tiwary', 'R Dhawan']
530 -> ['J Suchith']
539 -> ['JJ Bumrah']
549 -> ['Harbhajan Singh']
554 -> ['Mandeep Singh', 'MM Sharma', 'YS Chahal']
560 -> ['GJ Bailey', 'UT Yadav']
564 -> ['BE Hendricks']
566 -> ['HV Patel']
568 -> ['SN Khan']
575 -> ['RA Jadeja']
579 -> ['MG Johnson']
585 -> ['MJ McClenaghan']
590 -> ['HV Patel']
592 -> ['I Sharma']
596 -> ['SP Narine']
597 -> ['KH Pandya', 'MM Sharma']
598 -> ['A Nehra']
601 -> ['P Kumar']
602 -> ['GB Hogg']
604 -> ['S Kaushik']
606 -> ['VR Aaron']
614 -> ['DJ Bravo']
615 -> ['STR Binny']
616 -> ['R Bhatia']
622 -> ['GJ Maxwell']
634 -> ['BB Sran', 'M Morkel']
7896 -> ['Washington Sundar']
7899 -> ['SS Iyer', 'C Munro']
7905 -> ['BB Sran']
7906 -> ['S Mavi']
7908 -> ['JD Unadkat']
7912 -> ['CH Morris']
7914 -> ['JD Unadkat']
7917 -> ['Mohammed Siraj']
7919 -> ['V Shankar']
7920 -> ['RA Jadeja']
7921 -> ['Basil Thampi']
7923 -> ['RA Jadeja']
7924 -> ['MJ McClenaghan']
7925 -> ['J Archer']
7926 -> ['KV Sharma']
7927 -> ['R Ashwin']
7930 -> ['PP Chawla']
7934 -> ['JP Duminy']
7935 -> ['V Shankar']
7936 -> ['J Archer']
7940 -> ['JP Duminy', 'BA Stokes']
7947 -> ['S Gill', 'S Kaul']
7948 -> ['Mustafizur Rahman']
7951 -> ['PP Chawla']
7952 -> ['P Krishna']
11139 -> ['JJ Bumrah']
11145 -> ['M Markande']
11146 -> ['HV Patel']
11148 -> ['JD Unadkat']
11149 -> ['M Ur Rahman']
11152 -> ['I Sharma']
11310 -> ['A Joseph']
11318 -> ['KH Pandya']
11320 -> ['Kuldeep Yadav']
11322 -> ['Mohammed Siraj', 'KA Pollard']
11323 -> ['JD Unadkat']
11324 -> ['YK Pathan']
11325 -> ['K Paul', 'I Sharma', 'KA Pollard']
11326 -> ['KD Karthik']
11330 -> ['DW Steyn', 'SN Thakur']
11331 -> ['SV Samson']
11332 -> ['DJ Bravo']
11335 -> ['Imran Tahir']
11336 -> ['S Kaul']
11337 -> ['UT Yadav']
11340 -> ['UT Yadav']
11342 -> ['Rashid Khan']
11347 -> ['SP Narine']
11413 -> ['TA Boult', 'B Kumar']
11415 -> ['JJ Bumrah']

### 6) Which bowler has hit for maximum number of 1s/2s/3s/4s/6s?

In [11]:
t6 = delivdf.loc[:,['bowler','total_runs']]
for i in [1,2,3,4,6]:
    print (i,'->' ,t6[t6['total_runs']==i].groupby('bowler').count().idxmax()[0])

1 -> Harbhajan Singh
2 -> DJ Bravo
3 -> P Kumar
4 -> UT Yadav
6 -> PP Chawla

### 7) Which batsman got stumped out maximum number of times?

In [12]:
t7 = delivdf.loc[:,['player_dismissed','dismissal_kind']]
t7 = t7[t7['dismissal_kind']=='stumped']['player_dismissed']
t7.groupby(t7).count().idxmax()

'SK Raina'

### 8) Which non-striker has been part of maximum number of runouts?

In [13]:
t8 = delivdf.loc[:,['non_striker','player_dismissed','dismissal_kind']]
t8 = t8[(t8['dismissal_kind']=='run out') & (t8['player_dismissed']==t8['non_striker'])]['player_dismissed']
t8.groupby(t8).count().idxmax()

'AB de Villiers'

### 9) Which bowler has bowled maximum number of dot balls?

In [14]:
t9 = delivdf.loc[:,['bowler','total_runs']]
t9[t9['total_runs']==0].groupby('bowler').count().idxmax()[0]

'Harbhajan Singh'

### 10) Which team holds the record for the maximum win by runs and against whom?

In [15]:
t10 = matchdf[['team1','team2','winner','win_by_runs']]
r10 = t10.iloc[t10['win_by_runs'].idxmax()]
print('{} won against {} by {} runs'.format(r10['team1'],r10['team2'],r10['win_by_runs']))

Mumbai Indians won against Delhi Daredevils by 146 runs

### 11) Which team holds the record for the maximum win by wickets and against whom?

In [16]:
t10 = matchdf.loc[:,['team1','team2','winner','win_by_wickets']]
t10['loser'] = t10.apply (lambda row: row['team1'] if row['team2']==row['winner'] else row['team1'], axis=1)
t10 = t10[t10['win_by_wickets']==10].loc[:,['winner','loser']]
t10

                          winner             loser
2          Kolkata Knight Riders     Gujarat Lions
34               Kings XI Punjab  Delhi Daredevils
71               Deccan Chargers    Mumbai Indians
119             Delhi Daredevils   Kings XI Punjab
183  Royal Challengers Bangalore  Rajasthan Royals
298             Rajasthan Royals    Mumbai Indians
376               Mumbai Indians  Rajasthan Royals
390          Chennai Super Kings   Kings XI Punjab
542  Royal Challengers Bangalore  Delhi Daredevils
590          Sunrisers Hyderabad     Gujarat Lions
683  Royal Challengers Bangalore   Kings XI Punjab

### 12) Which fielder took most catches in IPL?

In [17]:
t11 = delivdf.loc[:,['fielder','dismissal_kind']]
t11 = t11[t11['dismissal_kind']=='caught']['fielder']
t7.groupby(t7).count().idxmax()

'SK Raina'

### 13) Which umpire officiated the most matches?

In [18]:
t12 = matchdf.loc[:,['umpire1','umpire2','umpire3']]
pd.concat([t12['umpire1'],t12['umpire2'],t12['umpire3']],ignore_index=True).value_counts().idxmax()

'S Ravi'